@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    box-sizing: border-box;
}
body{
    font-family: roboto;
    margin: 0;
}
.topbar {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
}
.leftTopbar{
    display: flex;
    align-items: center;
    width: 20%;
}
img{
    width: 100px;
    margin-left: 20px;
}
.search{
    width: 50%;
    height: 2rem;
}
.upnext{
  display: flex;
  flex-direction: column;
}
.playNext{
  margin-top: 3.8vh;
}
.next{
  display: flex;
  flex-direction: row;
  margin-top: 2.3vh;
}
.upnext input[type=text] {
  padding: 1.5vh;
  border: 1px solid silver;
  width: 80%;
  margin-left: 3vw;
  height: 1.875rem;
  text-align: center;
  font-size: smaller;
  outline: 0 solid transparent;
}
.search input[type=text] {
    padding: 10px;
    border: 1px solid silver;
    float: left;
    width: 85%;
    border-right: none;
    outline: 0 solid transparent;
    
  }
.search button {
    float: left;
    width: 15%;
    padding: 10px;
    border: 1px solid silver;
    border-left: none;
    cursor: pointer;
    
  }
  .rightTopbar{
      width: 25%;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  li {
    float: right;
  }
  li a {
    display: block;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: black;
  }
  .rightTopbar img{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    object-fit: cover;
  }
  .myBody{
    height: calc(100vh - 75px);
    display: flex;
    overflow: hidden;
    overflow-y: scroll;
    background-color: #f9f9f9;
    flex-direction: row;
}
.videoBody{
    cursor: pointer;
    width: 60vw;
    min-width: 650px;
    padding-right: 1vw;
    order: 0;
    
}
.bigVideo iframe{
    width: 95%;
    height: calc(60vw / 1.77);
    min-height: calc(650px / 1.77);;
    margin-bottom: 2vh;
    margin-right: 2vw;
    margin-left: 2vw;
}
.videoDetail1{
  margin-left: 2vw;
  width: 100%;
}
.detail i{
  float: left;
}
.detail{
  padding-top: 1.5vh;
  display: flex;
  justify-content: space-between;
  width: 60vw;
}
.line{
  margin-top: 1.5vh;
  height: 1px;
  background-color: #e1e1e1;
}
.about{
  margin-top: 3.8vh;
  margin-left: 2vw;
  width: 60vw;
}
.row{
  display: flex;
  flex-direction: row;
}
.row button{
  background-color: hsl(0, 50%, 50%);
    border-radius: 3px;
    color: white;
    border: none;
    padding: 10px 16px;
    cursor: pointer;
    float: right;
    margin-right: -43.5vw;
}
.videoRow{
  display: flex;
  flex-direction: row;
}
.profile img{
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  object-fit: cover;
}
.profInfo{
  display: flex;
  flex-direction: column;
  margin-left: 1.5vw;
}
.info{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 3.8vh;
  margin-left: 5.4vw;
}
.videos{
  width: 100%;
  display: flex;
  margin-top: 5px;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 3vw;
}
.theDetail{
  display: flex;
  flex-direction: column;
  margin-left: 0.5vw;
  
}
.content{
  display: flex;
  flex-direction: row;
}
.detail i{
  font-size: 20px;
  color: grey;
}
.detail span{
  font-size: 12px;
}
.theDetail h4 {
  font-size: 15px;
  margin-bottom: 1.2vh;
  font-weight: 550;
}
.theDetail span{
  color: gray;
  font-size: 12px;
}
.comments{
  display: flex;
  flex-direction: row;
  margin-left: 2.5vw;
  margin-top: 2.3vh;
}
.comments i{
  margin-left: 2.5vw;
}
.commentImg{
  display: flex;
  flex-direction: row;
  margin-top: 2.3vh;
}
.commentImg img{
  height: 5vh;
  width: 5vh;
  border-radius: 50%;
  object-fit: cover;
}
.addComment{
  display: flex;
  flex-direction: column;
}

